body {
  font-family: sans-serif;
}

.slide {
  width: 800px;
  height: 600px;
}

.slide.overlay {
  background-color: #FFFE;
  backdrop-filter: blur(10px); /* not enabled */
}

.slide h1 {
  /* text-align: center; */
}

#app {
  width: 700px;
  /* margin-left: 45px; */
}

#app p {
  font-size: 10pt;
}

#app canvas {
  display:block;
  width: 100%;
}

#contact {
  width: 200px;
}
