body {
  font-family: sans-serif;
}

.slide {
  width: 600px;
  height: 480px;
}

.overlay {
  background-color: #FFFE;
  backdrop-filter: blur(10px); /* not enabled */
  padding: 20px;
}

#app {
  width: 700px;
  /* margin-left: 45px; */
}

#app p {
  font-size: 10pt;
}

#app canvas {
  display:block;
  width: 100%;
}

#contact {
  width: 200px;
}
