body {
  font-family: sans-serif;
}

.slide {
  width: 800px;
  height: 600px;
}

.slide.overlay {
  background-color: #FFFE;
  backdrop-filter: blur(10px); /* not enabled */
}

#app {
  width: 1000px;
  margin-left: 45px;
}

#app canvas {
  display:block;
  width: 100%;
}

#code {
  background-color: #111;
  color: #EEE;
}

#code.future {
  display: none;
}

#code.future.next {
  display: block;
}

#rustweb {
  background-color: #999;
  color: #222;
}

#contact {
  width: 200px;
}
